.order_header{
    width: 100%;
    text-align: center;
    padding: 15px;
}

.order_table{
    width: 90%;
    overflow: auto;
    max-width: 900px;
    margin: auto;
}

.order_table table tr th{
    background-color: rgb(55, 148, 255);
}

.order_table table tr:nth-child(2n) td{
    background-color: rgb(206, 248, 255);
}