.orders_container{
    width: 95%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

.orders_header{
    width: 100%;
    text-align: center;
    padding: 15px;
}

.css-ahj2mt-MuiTypography-root{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.css-heg063-MuiTabs-flexContainer{
    justify-content: center;
}

.MuiBox-root.css-19midj6{
    overflow-x: auto;
}